<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Book Notes</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <link rel="stylesheet" href="./CSS/style.css" />
    </head>

    <%- include('header.ejs') %>

    <body>
        <div class="container mt-5">
            <h1>Book Notes</h1>
            <p>Welcome to the Book Notes application. Here you can view and manage your book notes.</p>

            <div class="container">
                <% if (books.length > 0) { %>
                    <div class="devices">
                        <% books.forEach(book => { %>
                            <div class="device-info">
                                <div class="row mb-5">
                                    <div class="col-sm-4 col-md-3">
                                        <img src="<%= book.cover %>" alt="Book Cover" class="album-cover">
                                    </div>
                                    <div class="col-sm-8 col-md-9">
                                        <div class="text-muted mt-2 mb-1">
                                            <i class="bi bi-person me-2"></i><%= book.author %>
                                        </div>
                                        <div class="h5 mb-1"><%= book.title %></div>
                                        <div class="text-muted mb-0">
                                            <i class="bi bi-book me-2"></i><%= book.description %>
                                        </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                <% } else { %>
                    <p>No books found.</p>
                <% } %>
            </div>
        </div>
        <!-- script -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    </body>

    <%- include('footer.ejs') %>

</html>
